<!DOCTYPE html>
<html>
<head>
	<title>Demo Home</title>
</head>
<body>
    <form method="POST" action="/savefile" ">
        <button type="submit">Save</button>
    </form>
    <table>
        <repeat group="{{ @arr }}" value="{{ @row }}" counter="{{ @ctr }}">
            <tr>
            <repeat group="{{ @row }}" value="{{ @cell }}">
            <check if="{{ @ctr==1 }}">
                <true>
                    <th>
                        {{ @cell }}
                    </th>
                </true>
                <false>
                    <td>
                        {{ @cell }}
                    </td>
                </false>
            </check>
            </repeat>
            </tr>
        </repeat>
    </table>
</body>
</html>