<!DOCTYPE html>
<html>
<head>
    <title>Demo Home</title>
    <link rel="stylesheet" href="./app/views/file.css">
</head>
<body>
    <form method="POST" action="/savefile" ">
        <button type="submit">Save</button>
    </form>
    <div style="overflow-x:auto;">
    <table>
        <repeat group="{{ @arr }}" value="{{ @row }}" counter="{{ @ctr }}">
            <tr>
            <repeat group="{{ @row }}" counter="{{ @idx }}" value="{{ @cell }}">
            <check if="{{ @idx==1 }}">
                <false>
                    <check if="{{ @ctr==1 }}">
                        <true>
                            <th>
                                {{ @cell }}
                            </th>
                        </true>
                        <false>
                            <td>
                                {{ @cell }}
                            </td>
                        </false>
                    </check>
                </false>
            </check>
            </repeat>
            </tr>
        </repeat>
    </table>
    </div>
</body>
</html>